html, body{
  height: 100%
}

body {
  background-image: url('./Images/background3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleButton:focus{
    background: rgb(26, 129, 26)  !important;
}

#toggleButton:hover{
  background-color: rgb(26, 129, 26) !important;
}

#submitButton:hover{
  background-color: rgb(26, 129, 26) !important;
}

