body {
  background-color: #FBCE3A !important;
  margin: 0;
}



#toggleButton:focus{
    background: rgb(221, 170, 4)  !important;
}

#submitButton:hover{
  background-color: rgba(240, 185, 4, 0.945) !important;
}

